.titlebox{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 100%;
  padding: 20px;
  margin-top: 5px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#btn1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 224, 215);
}
.lists{
  display: flex;
  height: 400px;
  width: 100%;
  flex-wrap: wrap;
 
}
.card{
  margin: 100px;
  width: 400px;
  box-shadow: 5px 10px #888888;
}
.card-bod{
  height: 400px;
}
.btn2{
  display: flex;
  justify-content: space-between;
  background-color: rgb(232, 224, 215);
  padding: 10px;
}
#inputbox{
  margin: 10px;
}
#desbox{
  margin: 10px;
}
.icons{
  cursor: pointer;
}
.icons:hover{
  color: red;
}